<div class="jumbotron">
  <h1>My List of Words</h1>
</div>

<form action="/" method="post">
  <div class="form-group">
    <label for="word">Enter a word you want to save: </label>
    <input type="text" name="word" id="word" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">Add to my list!</button>
</form>

<% @word_list.each do |new_word| %>
  <h3><a href="/output/<%= new_word.id %>"><%= new_word.word %></a></h3>
<% end %>
