<form action="/output/:id" method="post">
  <div class="form-group">
    <br>
    <label for="definition"><h2>What do you think <em><%= @word_to_define.word %></em> means?</h2></label>
    <input type="text" name="definition" id="definition" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Add a definition!</button>
</form>
